/*sadb css*/
.main-container{
  margin-right: auto;
  margin-left: auto;
}

.browsefloat{
  width: 11%;
  text-align: center;
  font-size: 20px;
  margin-top: 10%;
    margin-left: 5%;
  background-color: #f6f6f6;
  border-radius: 10px 10px 10px 10px;
  position: fixed
}

a.tax{
    font-size:18px;
    margin-bottom: 0px;
}

@media (min-width: 768px) {
  .main-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .main-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    width: 1300px;
  }
}
.tnt_tree_node,.tnt_tree_label {
    cursor: pointer
}
.tnt_tree_node_proxy {
    opacity: 0;
    pointer-events: all
}
.tnt_node_display_elem {
    pointer-events: none
}

ul.variation_consequence_tree li a.leaf {
    margin-left: -10px!important
}
.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
  background: #fff;
  position: relative;
  z-index: 1;
}
.alert-info.positioned {
  margin-top: 1em;
  position: relative;
  z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.con{
	max-height:400px;
	overflow-y:auto;
    margin-bottom: 20px;
    margin-top: 20px;

}
.gene_model{
    width: 1000px;
    margin:auto;
    padding: 10px;
    padding-right: 0px;
    background: #f2f2f2;
    border-radius:5px;
}
td{
    text-align: center;
}
th{
    text-align: center;
}