<div id="gene_detail_con">
    <div >
        <a ng-href="#!/"><img src="/static/image/top.png" style="width: 100%;height: 100px"></a>
    </div>
<div class="main-container row">

        <nav class="geneInfo_siderbar" id="geneInfo_siderbar">
			<ul class="nav nav-pills nav-stacked">
				<li class="active" ng-click="goto('#basic_info')"><a ng-href="#basic_info" onclick="return false">Gene information</a></li>
				<li ng-click="goto('#analysis')"><a ng-href="#analysis" onclick="return false">Gene analysis</a></li>
				<li ng-click="goto('#gene_model')"><a ng-href="#gene_model" onclick="return false">Gene Model</a></li>
                <li ng-click="goto('#protein')"  ng-hide="proteins[0].ensembl_peptide_id==null"><a ng-href="#protein" onclick="return false">Protein</a></li>
                <li ng-click="goto('#drug_info')" ng-hide="get_drug_info.length==0"><a ng-href="#drug_info" onclick="return false">Drug Target</a></li>
                <li ng-click="goto('#gene_ontology')" ng-show="go_terms.length>0"><a ng-href="#gene_ontology" onclick="return false">Gene Ontology</a></li>
                <li ng-click="goto('#phenotype')" ng-hide="phenotypes.length==0"><a ng-href="#phenotype" onclick="return false">Phenotype</a></li>
                <li ng-click="goto('#paralog')" ng-show="para_list>0"><a ng-href="#paralog" onclick="return false">Paralog</a></li>
                <li ng-click="goto('#ortholog')" ng-show="homolog_list>0"><a ng-href="#ortholog" onclick="return false">Ortholog</a></li>

			</ul>
    </nav>

    <div class="col-md-10 " style="background-color: white;margin-left: 140px">
        <section id="basic_info">
            <div class="page-header">
                <h2>Gene information</h2>
            </div>
            <dl class="dl-horizontal">
                <dt>Ensembl ID</dt>
                <dd><a ng-href="http://www.ensembl.org/{{ taxname }}/Gene/Summary?g={{ gene_id }}" target="_blank">{{ gene_id }}</a></dd>
                <dt ng-hide="gene_detail.entrezgene==''">Gene ID</dt>
                <dd ng-hide="gene_detail.entrezgene==''"><a ng-href="http://www.ncbi.nlm.nih.gov/gene/{{ gene_detail.entrezgene }}" target="_blank">{{ gene_detail.entrezgene }}</a></dd>
                <dt ng-hide="gene_detail.external_gene_name==''">Gene Symbol</dt>
                <dd ng-hide="gene_detail.external_gene_name==''">{{ gene_detail.external_gene_name}}</dd>
                <dt ng-hide="get_summary.synonyms==''">Alias</dt>
                <dd ng-hide="get_summary.synonyms==''">{{ get_summary.synonyms}}</dd>
                <dt ng-hide="gene_detail.description==''">Full Name</dt>
                <dd ng-hide="gene_detail.description==''">{{ gene_detail.description }}</dd>
                <dt>Gene Type</dt>
                <dd>{{ gene_detail.gene_biotype }}</dd>
                <dt>Length</dt>
                <dd>{{ gene_detail.end_position-gene_detail.start_position }}</dd>
                <dt>Position</dt>
                <dd>Chromosome {{ gene_detail.chromosome_name }}: {{ gene_detail.start_position }} - {{ gene_detail.end_position }}</dd>
                <dt ng-hide="gene_detail.hgnc_id==''">HGNC</dt>
                <dd ng-hide="gene_detail.hgnc_id==''"><a ng-href="http://www.genenames.org/cgi-bin/gene_symbol_report?q=data/hgnc_data.php&hgnc_id={{ gene_detail.hgnc_id }}" target="_blank">{{ gene_detail.hgnc_id }}</a></dd>
                <dt ng-hide="get_summary.summary==null">Summary</dt>
                <dd ng-hide="get_summary.summary==null">{{ get_summary.summary }}</dd>
                <br>
                <dt>Transcripts</dt>
                <br>

            </dl>
            <div class="con panel panel-default">
                    <table class="table table-hover table-bordered img-rounded" ts-wrapper style="margin-bottom: 0px">
                    <thead>
                        <tr>
                            <th>Transcript ID</th>
                            <th> start</th>
                            <th>end</th>
                            <th>Length (bp)	</th>
                            <th>Protein ID</th>
                            <th>Length (aa)</th>
                            <th>UniProtKB ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tran in transcript" ts-repeat>
                            <td style="text-align: center">
                                <a ng-href="http://www.ensembl.org/{{ taxname }}/Transcript/Summary?db=core;t={{ tran.ensembl_transcript_id }}" target="_blank">{{ tran.ensembl_transcript_id }}</a>
                            </td>
                            <td>{{ tran.transcript_start }}</td>
                            <td>{{ tran.transcript_end }}</td>
                            <td>{{ tran.transcript_length }}</td>
                            <td>{{ tran.ensembl_peptide_id }}</td>
                            <td>{{ tran.cds_length/3 }}</td>
                            <td>
                                <a ng-href="http://www.uniprot.org/uniprot/{{ tran.uniprotsptrembl }}" target="_blank">{{ tran.uniprotsptrembl }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </section>
        <section id="analysis">
            <div class="page-header">
                <h2>Gene analysis</h2>
            </div>
            <div class="row">
                <img src="/static/image/analysis/{{ gene_id }}.png">
                <img src="/static/image/sizescale.png">
            </div>
            <div class="con panel panel-default">
                <table class="table table-hover table-bordered" ts-wrapper>
                    <thead>
                    <tr>
                        <th ts-criteria="SAGD ID">SAGD ID</th>
                        <th ts-criteria="baseMean">baseMean</th>
                        <th ts-criteria="FPKM MALE">FPKM(♂)</th>
                        <th ts-criteria="FPKM FEMALE">FPKM(♀)</th>
                        <th ts-criteria="Chromosome">Chromosome</th>
                        <th ts-criteria="log2FoldChange">log2FoldChange</th>
                        <th ts-criteria="padj" >padj</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="gene in analysis" ts-repeat>
                        <td><a ng-href="#!/sagd_id?sagd_id={{ gene.sagd_id }}">{{ gene.sagd_id }}</a></td>
                        <td>{{ gene.baseMean }}</td>
                        <td>{{ gene.FPKM_SRX_T }}</td>
                        <td>{{ gene.FPKM_SRX_O }}</td>
                        <td>{{ gene.chromosome_name }}</td>
                        <td>{{ gene.log2FoldChange }}</td>
                        <td>{{ gene.padj }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="gene_model">
            <div class="page-header">
                <h2>Gene Model</h2>
            </div>
            <div ng-bind-html="gene_model" class="gene_model"></div>
        </section>
        <section id="protein" ng-hide="proteins[0].ensembl_peptide_id==null">
            <div class="page-header">
                <h2>Protein</h2>
            </div>
            <div class="con panel panel-default">
                <table class="table table-hover table-bordered" ts-wrapper>
                    <thead>
                    <tr>
                        <th>Protein ID</th>
                        <th>start</th>
                        <th>end</th>
                        <th>pfam</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="protein in proteins" ts-repeat>
                        <td><a ng-href="http://asia.ensembl.org/{{ taxname }}/Transcript/ProteinSummary?db=core;p={{ protein.ensembl_peptide_id }}" target="_blank">{{ protein.ensembl_peptide_id }}</a></td>
                        <td>{{ protein.pfam_start }}</td>
                        <td>{{ protein.pfam_end }}</td>
                        <td><a ng-href="https://pfam.xfam.org/family/{{ protein.pfam }}" target="_blank">{{ protein.pfam }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="drug_info" ng-hide="get_drug_info.length==0">
            <div class="page-header">
                <h2>Drug Target</h2>
            </div>
            <div class="con panel panel-default">
                <table class="table table-hover table-bordered" ts-wrapper>
                    <thead>
                    <tr>
                        <th>DrugBank ID</th>
                        <th>Drug Name</th>
                        <th>Type</th>
                        <th>UniProt Name</th>
                        <th>UniProt ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="drug_info in get_drug_info" ts-repeat>
                        <td><a ng-href="https://www.drugbank.ca/drugs/{{ drug_info.DrugBank_ID }}" target="_blank">{{ drug_info.DrugBank_ID }}</a></td>
                        <td>{{ drug_info.Drug_name }}</td>
                        <td>{{ drug_info.Type }}</td>
                        <td>{{ drug_info.UniProt_Name }}</td>
                        <td><a ng-href="http://www.uniprot.org/uniprot/{{ drug_info["UniProt ID"] }}" target="_blank">{{ drug_info["UniProt ID"] }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="gene_ontology" ng-show="go_terms.length>0">
            <div class="page-header">
                <h2>Gene Ontology</h2>
            </div>
            <div class="con panel panel-default">
                <table class="table table-hover table-bordered" ts-wrapper>
                    <thead>
                    <tr>
                        <th>GO ID</th>
                        <th>GO Term</th>
                        <th>Category</th>
                        <th>Evidence</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="go_term in go_terms" ts-repeat>
                        <td><a ng-href="http://amigo.geneontology.org/amigo/term/{{ go_term.go_id }}" target="_blank">{{ go_term.go_id }}</a></td>
                        <td>{{ go_term.name_1006 }}</td>
                        <td>{{ go_term.namespace_1003 }}</td>
                        <td>{{ go_term.go_linkage_type }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="phenotype" ng-hide="phenotypes.length==0">
            <div class="page-header">
                <h2>Phenotype</h2>
            </div>
            <div class="con panel panel-default">
                <table class="table table-hover table-bordered" ts-wrapper>
                    <thead>
                    <tr>
                        <th>Phenotype</th>
                        <th>Reference ID</th>
                        <th>Source</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="phenotype in phenotypes" ts-repeat>
                        <td>{{ phenotype.phenotype_description }}</td>
                        <td>{{ phenotype.study_external_id }}</td>
                        <td>{{ phenotype.source_name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="paralog" ng-show="para_list>0">
            <div class="page-header">
                <h2>Paralog</h2>
            </div>
            <div class="con panel panel-default">
                <table class="table table-hover table-bordered" ts-wrapper>
                    <thead>
                    <tr>
                        <th>Ensembl ID</th>
                        <th>Symbol</th>
                        <th>Paralog</th>
                        <th>Symbol</th>
                        <th>Chromosome</th>
                        <th>start</th>
                        <th>end</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="paralog in paralogue" ts-repeat>
                        <td>{{ paralog.ensembl_gene_id }}</td>
                        <td>{{ paralog.external_gene_name }}</td>
                        <td><a ng-href="#!/gene_info?gene={{ paralog.paralog_ensembl_gene }}" target="_blank">{{ paralog.paralog_ensembl_gene }}</a></td>
                        <td>{{ paralog.paralog_gene_name }}</td>
                        <td>{{ paralog.paralog_gene_chromosome }}</td>
                        <td>{{ paralog.paralog_gene_start }}</td>
                        <td>{{ paralog.paralog_gene_end }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="ortholog" ng-show="homolog_list>0">
            <div class="page-header">
                <h2>Ortholog</h2>
            </div>
            <div class="con panel panel-default">
                <table class="table table-hover table-bordered" ts-wrapper>
                    <thead>
                    <tr>
                        <th>Ensembl ID</th>
                        <th>symbol</th>
                        <th>Orthologue</th>
                        <th>symbol</th>
                        <th>Target%id</th>
                        <th>Query%id</th>
                        <th>WGA Coverage</th>
                        <th>High Confidence</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="ortholog in homolog" ts-repeat>
                        <td>{{ gene_id }}</td>
                        <td>{{ ortholog.external_gene_name }}</td>
                        <td><a ng-href="#!/gene_info?gene={{ ortholog.ortholog }}" target="_blank">{{ ortholog.ortholog }}</a></td>
                        <td>{{ ortholog.ortholog_external_gene_name }}</td>
                        <td>{{ ortholog.homolog_perc_id }}</td>
                        <td>{{ ortholog.homolog_perc_id_r1 }}</td>
                        <td>{{ ortholog.homolog_wga_coverage }}</td>
                        <td>{{ ortholog.homolog_orthology_confidence }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>



</div>
</div>