
<div class="container">


<div style="width:800px;margin-right:auto;margin-left:auto;">
    <div style="padding-left:5px ;">
        <div class="panel panel-info">
            <div class="panel-heading"><h4 style="margin: 0px">Species: {{ specie.Scientific_name }}</h4></div>
            <div class="panel-body">
                <img src="/static/image/species/{{ Scientific_name }}.png" alt="" height="100px" style="flaot:left; display:inline-block";>
                <div style="display:inline-block;margin-left: 15px">
                    <div style="display:inline-block">
                    <p style="margin-bottom: 0px">Common name: {{ specie.Common_name }}</p>
                    <p style="margin-bottom: 0px">Taxonomy ID: {{ specie.Taxonomy_ID }}</p>
                </div>
                <div style="display:inline-block;margin-left:30px">
                    <p style="margin-bottom: 0px">genome: <a href="{{ taxonomy.geneome }}">{{ taxonomy.geneomename }}</a></p>
                    <p style="margin-bottom: 0px">annotation: <a href="{{ taxonomy.annotation }}">{{ taxonomy.annotationname }}</a></p>
                </div>
                </div>
            </div>
        </div>

    </div>
    <div class="panel panel-default" style="margin: 5px">
    <img src="/static/image/help.png" alt="" style="width:30px;float: right;margin-top: -3px;cursor: pointer" data-toggle="tooltip" data-placement="bottom" title="The color presents the sex bias of the SAG with the lowest padj in the dataset (female: red, male: blue).">
    <div class="sagd_con" ng-repeat="sagd in sagd_list" style="background-color: {{ sagd.background }};">
        <p xmlns:mml="http://www.w3.org/1998/Math/MathML" class="title" style="margin-bottom: 3px">
            <a href="#!/sagd_list?sagd_id={{ sagd.sagd_id }}" target="_blank" style="text-decoration:underline;font-size:110%;">{{ sagd.sagd_id }}</a>
        </p>
        <div>
            <samll>SRP: <a ng-href="https://trace.ncbi.nlm.nih.gov/Traces/sra/?study={{ sagd.SRA_Study }}" target="_blank">{{ sagd.SRA_Study }}</a></samll>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<samll>Tissue: {{ sagd.Tissue }}</samll>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<samll>Stage: {{ sagd.Stage }}</samll>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<samll>SAG number: {{ sagd.sag_num }}</samll>
            <p style="margin: 0px">significant genes: </p>
            <small ng-repeat="gene in sagd.significant_gene">&nbsp&nbsp&nbsp&nbspGene id: <a href="#!/gene_info?gene={{ gene.ensembl_gene_id }}" target="_blank">{{ gene.ensembl_gene_id }}</a> &nbsp&nbsp symbol: {{ gene.symbol }} &nbsp&nbsp padj:{{ gene.padj }} &nbsp&nbsp log2(M/F ratio): {{ gene.log2FoldChange }}<br></small>


        </div>



    </div>
        </div>
        <div paging
         page="currentPage"
         page-size=20
         total="sagd_list_count"
         scroll-top="true"
         hide-if-empty="true"
         show-prev-next="true"
         show-first-last="true"
         text-title-page="Page {page} Hover Over"
         text-title-first="First hover"
         text-title-last="Last hover"
         text-title-next="Next hover"
         text-title-prev="Prev hover"
         show-prev-next="true"
         show-first-last="true"
         ul-class="pagination"
         active-class="active"
         disabled-class="disabled"
         paging-action="update_taxon('default',page,page-size)"
    >
    </div>
</div>


</div>
