<div class="container">
    <div paging
         page="currentPage"
         page-size=15
         total="gene_list_count"
         scroll-top="true"
         hide-if-empty="true"
         show-prev-next="true"
         show-first-last="true"
         text-title-page="Page {page} Hover Over"
         text-title-first="First hover"
         text-title-last="Last hover"
         text-title-next="Next hover"
         text-title-prev="Prev hover"
         show-prev-next="true"
         show-first-last="true"
         ul-class="pagination"
         active-class="active"
         disabled-class="disabled"
         paging-action="update_gene('test',page,page-size)"
    >
    </div>
    <table class="table table-bordered table-hover table-condensed" ts-wrapper ng-show="sadb_gene_list.length+1">
        <thead>
        <tr>
            <th ts-criteria="gene_id">Gene ID</th>
            <th style="text-align: center" ts-criteria="baseMean|parseFloat">baseMean</th>
            <th style="text-align: center" ts-criteria="log2FoldChange|parseFloat">log2FoldChange</th>
            <th style="text-align: center" ts-criteria="lfcSE|parseFloat">lfcSE</th>
            <th style="text-align: center" ts-criteria="stat|parseFloat">stat</th>
            <th style="text-align: center" ts-criteria="pvalue|parseFloat">pvalue</th>
            <th style="text-align: center" ts-criteria="padj|parseFloat">padj</th>
        </tr>
        </thead>
            <tr ng-repeat="gene in gene_list" ts-repeat>
                 <td>
                    <a href="#/gene_info?gene={$ gene.gene_id $}" target="_self" ng-click="gene_detail()">
                        {{ gene.gene_id }}
                    </a>
                </td>
                <td style="text-align: center">{{ gene.baseMean }}</td>
                <td style="text-align: center">{{ gene.log2FoldChange }}</td>
                <td style="text-align: center">{{ gene.lfcSE }}</td>
                <td style="text-align: center">{{ gene.stat }}</td>
                <td style="text-align: center">{{ gene.pvalue }}</td>
                <td style="text-align: center">{{ gene.padj }}</td>
            </tr>
        <tbody>

        </tbody>
    </table>
    <div paging
         page="currentPage"
         page-size=15
         total="gene_list_count"
         scroll-top="true"
         hide-if-empty="true"
         show-prev-next="true"
         show-first-last="true"
         text-title-page="Page {page} Hover Over"
         text-title-first="First hover"
         text-title-last="Last hover"
         text-title-next="Next hover"
         text-title-prev="Prev hover"
         show-prev-next="true"
         show-first-last="true"
         ul-class="pagination"
         active-class="active"
         disabled-class="disabled"
         paging-action="update_gene('test',page,page-size)"
    >
    </div>
</div>
