<!DOCTYPE html>
<html lang="en" ng-app="sadb">
<head>
    <title>Database of sex-associated genes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='lib/angular-tablesort/tablesort.css') }}" rel="stylesheet">
    <script src="/static/lib/jquery-3.2.1.min.js"></script>
    <script src="/static/lib/jquery-ui.min.css"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="{{ url_for('static',filename='lib/angular/angular.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/angular/angular-route.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/angular-paging/paging.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/angular-tablesort/angular-tablesort.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/bootstrap3-typeahead/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/HomeController.js') }}"></script>
    <script src="{{ url_for('static',filename='js/testController.js') }}"></script>


</head>
<body>
<div ng-include="'/static/partials/navigation.html'"></div>

<div class="container" >
    <div ng-view></div>
</div>

<div ng-include="'/static/partials/footer.html'"></div>
</body>
</html>