<div class="container" style="background-color: floralwhite;border-radius:7px">
    <hr class="divider"/>
    <div id="footer" class="text-center">
        <p>
            <strong>Copyright &copy;</strong>
            <a href="http://lst.hzau.edu.cn/" target="_blank">Chen Lab</a>,
            <a href="http://lst.hzau.edu.cn/" target="_blank">College of Life Science and Technology</a> ,
            <a href="http://www.hzau.edu.cn" target="_blank">HZAU</a>,
            China.
        </p>
        <p>
            Any comments and suggestions, please <a href="#!/contact/" target="blank">contact us</a>
        </p>
    </div>
</div>